mat-grid-tile {
  background: rgb(236, 243, 199);
}


.border{
  border: 1px solid rgb(65, 40, 105);
}

.list-grid {
  position: absolute;
  left: 15px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
